<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Confirm to complete sign up</title>
    <link href="/css/login.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <script type="text/javascript" src="/js/confirm.js"></script>
</head>
<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
             <li><a href="#contact">Contact</a></li>
             <li><a href="/intro">About</a></li>
                
            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                        
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>
    <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">Confirm</h3>
        </article>

        <form id="confirm" method="POST" role="form">
            Account :<br/>
                <input type="text" name="username" id="username" /><br/>
            Password :<br/>
                <input type="password" name="password" id="password" /><br/>
            驗證碼 :<br/>
                <input type="text" name="pass_str" id="pass_str" /><br/><br/>
            <input type="submit" id="enter" value="confirm"/>        
        </form>
    </main>
</body>
</html