<!DOCTYPE html>
<html>
<head>
    <title>P2P Borrowing Platform</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/index.css " type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
</head>

<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <!-- <div class="login">  -->

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
 
         <!-- </div> -->

            <!-- <li class="nav_signin"><a href="/login"><%= title %></a></li> -->
            <li class="nav_signup"><a href="/register"><%= account %></a></li>
        </ul>      
    </header>

    <main class="entrance">
        <div class="enterance_word word">
            <h1 class="word_title">Send and rent is a free website</h1>
            <h2 class="word_subtitle">It is great</h2>
            <div class="word_buttons buttons">
                <button type="button" class="buttons_button"> Investigate </button>
                <button type="button" class="buttons_button"> Borrow </button>
            </div>
        </div>
    </main>

</body>
</html>