<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
    <link rel="stylesheet" href="/css/intro.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
</head>

<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>
            <li class="nav_signin"><a href="/login">Sign in</a></li>
            <li class="nav_signup"><a href="/register">Sign up</a></li>
        </ul>      
    </header>

    <div class="start">
        <h1 class="start_topic">立即開始使用</h1>
        <div class="start_buttons buttons">
                <button type="button" class="buttons_button"> 我要投資 </button>
                <button type="button" class="buttons_button"> 我要申貸 </button>
        </div>
    </div>

    <article class="intro">
        <div class="intro_para para">
            <h1 class="para_title">P2P借貸平台是如何運作</h1>
            <h2 class="para_subtitle">是由專業團隊提供之金融服務與會員間透明之交易機制共構之平台。<br></br>投資人自由選擇標的，每月回收本息。申貸人以公平利率取得資金，每月定期還款。</h2>
        </div>
        <div class="intro_para para">
            <h1 class="para_title">如何操作</h1>
            <h2 class="para_subtitle">是由專業團隊提供之金融服務與會員間透明之交易機制共構之平台。<br></br>投資人自由選擇標的，每月回收本息。申貸人以公平利率取得資金，每月定期還款。</h2>
        </div>
    </article>


</body>
</html>