<!DOCTYPE html>
<html>
<head>
    <title>Introduction</title>
    <link rel="stylesheet" href="/css/intro.css" type="text/css" />
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <script type="text/javascript" src="/js/intro.js"></script>
</head>

<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>

            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>

            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>

</body>
</html>