<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Loan</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link rel="stylesheet" href="/css/loan.css" type="text/css" />
    <script type="text/javascript" src="/js/loan.js"></script>

</head>

<script>

    // $(document).ready(function(){
    //     let money, rate, period, /*credit,*/ reason;
    //     let pass_str;
        
    //     $("#nx").click(function(){
    //         money=$("#money").val();
    //         rate=$("#rate").val();
    //         period=$("#period").val();
    //         // credit=$("#credit").val();
    //         reason=$("#reason").val();
    //         pass_str="";
    //         if(rate>0 && rate<=12 && money!="" && rate!="" && period!="" && reason!="" && pass_str==""){
    //             $.post("https://localhost:8080/loan",{money: money, rate: rate, period: period, reason: reason, pass_str: pass_str}, function(data){
    //                 console.log(data);
    //             });
    //         }
            
    //     });

    //     $("#send").click(function(){
    //         money=$("#money").val();
    //         rate=$("#rate").val();
    //         period=$("#period").val();
    //         // credit=$("#credit").val();
    //         reason=$("#reason").val();
    //         pass_str=$("#pass_str").val();
    //         if(rate>0 && rate<=12 && money!="" && rate!="" && period!="" && reason!="" && pass_str!=""){
    //             $.post("https://localhost:8080/loan",{pass_str: pass_str}, function(data){
    //                 console.log(data);
    //             });
    //         }
    //     });
    // });

</script>
<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>
            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>

            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>

    <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">請填寫借款資料</h3>
            <!-- <h4 class= "titles_subtitle">Loan</h4> -->
        </article>

        <form onsubmit="return checkInfo();" id="form" method="POST" role="form" >
            <div id="checkInput"></div>

            <div id="form1">
                金額 <span>*</span> <br/>
                <input id="money" name="money" type="text" pattern="[^a-zA-Z]*" required>
                    <span class="ok">ok</span><br/>
                最低可接受借款金額 <span>*</span> <br/>
                <input id="min_money" name="min_money" type="text" pattern="[^a-zA-Z]*" required>
                    <span class="ok">ok</span><br/>
                年利率 <span>*</span><br/>
                    <input id="rate" name="rate" type="text" placeholder="1%~36%" pattern="[2-9]|1[0-9]?|2[0-9]?|3[0-6]?" required >
                    <span class="ok">ok</span><br/>
                期數(每月一期) <span>*</span><br/>
                    <input id="period" name="period" type="text" pattern="[^a-zA-Z]*" required >
                    <span class="ok">ok</span><br/>
                借款方式 <span>*</span><br/>
                    <select id="loan_type" name="loan_type" required>
                        <option value=""> Select your loan type </option>
                        <option value="一般"> 一般 </option>
                        <option value="撮合"> 撮合 </option>
                    </select>
                    <br/>
                借錢理由 <span>*</span><br/>
                    <select id="reason" name="reason" required>
                        <option value=""> Select your reason </option>
                        <option value="投資理財"> 投資理財 </option>
                        <option value="個人家庭週轉"> 個人家庭週轉 </option>
                        <option value="償還債務"> 償還債務 </option>
                        <option value="進修/教育支出"> 進修/教育支出 </option>
                        <option value="醫療支出"> 醫療支出 </option>
                        <option value="購買不動產"> 購買不動產 </option>
                        <option value="裝修房屋"> 裝修房屋 </option>
                        <option value="其他"> 其他 </option>
                    </select> 
                    <br/><br/>
                    <input id="send" type="submit" value="Send">
            </div>
        </form>

    </main>
</body>
</html>