<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Logout</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- <link href="/css/login_css.css" rel="stylesheet" type="text/css" media="all" /> -->
    <script type="text/javascript" src="/js/logout.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<script>
    // $(document).ready(function(){
    //     var logout;
    //     $("#logout").click(function(){
    //       logout = "yes";
    //       $.post("http://localhost:8080/logout",{logout: logout}, function(data){

    //       });
    //     });
    // });
</script>

<body>
    <!-- <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">Log out</h3>
        </article>
        
        <form class="login_area" method="POST" role="form">
            <input type="submit" id="logout" value="yes"/>
        </form>
        
    </main> -->
</body>
</html