<!DOCTYPE html>
<html>
<head>
    <title>撮合測試</title>
    <link rel="stylesheet" href="/css/header.css">
    <script type="text/javascript" src="/js/match_test.js"></script>
</head>

<body>

    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>
            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>
                
            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>
    <div>
        <button onclick="addDefaultUser1()">新增測資1</button>
        <button onclick="showInfo1()">測資1資訊</button>

        <button onclick="addDefaultUser2()">新增測資2</button>
        <button onclick="showInfo2()">測資2資訊</button>

        <button onclick="addDefaultUser3()">新增測資3</button>
        <button onclick="showInfo3()">測資3資訊</button>


        <button onclick="start_match()">撮合開始</button>
    </div>
    
</body>
</html>