<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/header.css" type="text/css" />
    <link href="/css/register_css.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/js/register.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function(){
        var name, account, password;
        var fname, lname, date, phone, credit, gender;
        var mail;

        $("#send").click(function(){
            name=$("#name").val();
            account=$("#account").val();
            password=$("#password").val();

            fname=$("#fname").val();
            lname=$("#lname").val();
            gender=$("input[name='gender']:checked").val();
            date=$("#date").val();
            phone=$("#phone").val();
            credit=$("#credit").val();

            mail=$("#mail").val();

            $.post("http://localhost:8080/register",{name: name, account: account, password: password, fname: fname, lname: lname, gender: gender, date: date, phone: phone, credit: credit, mail: mail}, function(data){
                // window.location.assign('/');
                // if(data==='done'){
                //     alert("register success");
                // }
            });
        
        });
    });
</script>
<body>
    <header class="nav">
        <ul>
            <li><a class="active" href="/">Home</a></li>
            <li><a href="#news">News</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="/intro">About</a></li>
            <% if(title == "Sign in") { %>
                <li class="nav_signin"><a href="/login"><%= title%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/logout"><%= title%></a></li>
            <% } %>

            <% if(account == "Sign up") { %>
                <li class="nav_signin"><a href="/register"><%= account%></a></li>
            <% } else { %>
                <li class="nav_signin"><a href="/member"><%= account%></a></li>
            <% } %>
        </ul>      
    </header>

    <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">Join P2P Borrowing Platform</h3>
            <h4 class= "titles_subtitle">Register</h4>
        </article>
        <div class="step">
            <div id="step1" class="step1">
                step1 : <br/>Set up your account
            </div>
            <div id="step2" class="step2">
               step2 : <br/>Fill in your information
            </div>
            <div id="step3" class="step3">
                step3 : <br/>Send E-mail to finish
            </div>
        </div>

        <!-- form 1 -->
        <form onsubmit="checkInfo()" method="GET" role="form" action="/" >
        <!-- <div> -->
            <div id = "confirmMsg"></div>
            <!-- Page 1 -->
            <div name="form1" id="form1">  
                Username <span>*</span> <br/>
                <input id="name" type="text" required />
                    <span class="ok">ok</span><br/>
                Account <span>*</span> <br/>
                <input id="account" type="text" placeholder="4~12 alphabets or numbers" required pattern="[0-9a-zA-Z]{4,12}" />
                    <span class="ok">ok</span><br/>
                Password <span>*</span> <br/>
                <input id="password" type="password" required/>
                    <span class="ok">ok</span><br/>
                <!-- Email address <span>*</span> <br/>
                <input id="email" type="email" required />
                    <span class="ok">ok</span><br/> -->
                
                <br/><br/>
                <input id="nx1" type="button" value="Next" onclick="getInfo1()"/>
                <!-- <button id="nx1">Next</button> -->
            </div>
        <!-- </div> -->
        <!-- </form> -->

        <!-- form2 -->
        <!-- <form onsubmit="checkInfo()"> -->
            <div id="confirmMsg"></div>
            <!-- Page 2 -->
            <div name="form2" id="form2">
                First name <span>*</span><br/>
                    <input id="fname" type="text" required />
                    <span class="ok">ok</span>
                    <br/>
                Last name <span>*</span><br/>
                    <input id="lname" type="text" required />
                    <span class="ok">ok</span>
                    <br/>
                Gender <span>*</span><br/>
                    Male <input id="male" type="radio" name="gender" value="male" required />
                    Female <input id="female" type="radio" name="gender" value="female" required />
                    <br/>
                Birthday <span>*</span><br/>
                <input id="date" type="date" required />
                <br/>
                Phone number <span>*</span> <br/>
                <input id="phone" type="text" pattern="[0-9]{8,10}" required/>
                    <span class="ok">ok</span><br/>
                Credit card number<span>*</span><br/>
                <input id="credit" type="text" placeholder="fill in ten '0'" required pattern="[0]{10,10}"/>
                <span class="ok">ok</span>
                <br/><br/>
                <input id="nx2" type="button" value="Next" onclick="getInfo2()">
                <!-- <button id="nx2">Next</button> -->
            </div>

        <!-- </form> -->

        <!-- form3 -->
        <!-- <form id="form3" onsubmit="checkInfo()"> -->
            <div id="form3">
                <input id="mail" name="mail" type="email" placeholder="Your email" required>
                <input id="send" type="submit" value="Send" onclick="getInfo3()">
            </div>
        </form>

    </main>
</body>
</html>