<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link href="/css/register_css.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/js/register1.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function(){
        var name, account, password;
        $("#nx1").click(function(){
            name=$("#name").val();
            account=$("#account").val();
            password=$("#password").val();
            $.post("http://localhost:8080/register1",{name: name, account: account, password: password}, function(data){
                // if(data==='done'){
                //     alert("send mail success");
                // }
            });
        });
    });
</script>
<body>
    <main class="main">
        <article class = "main_titles titles">
            <h3 class= "titles_tile">Join P2P Borrowing Platform</h3>
            <h4 class= "titles_subtitle">Register</h4>
        </article>
        <div class="step">
            <div id="step1" class="step1">
                step1 : <br/>Set up your account
            </div>
            <div id="step2" class="step2">
               step2 : <br/>Fill in your information
            </div>
            <div id="step3" class="step3">
                step3 : <br/>Send E-mail to finish
            </div>
        </div>

        <form onsubmit="return checkInfo()" method="GET" action="/register2">
        <!-- <div> -->
            <div id = "confirmMsg"></div>
            <!-- Page 1 -->
            <div name="form1" id="form1">  
                Username <span>*</span> <br/>
                <input id="name" type="text" required />
                    <span class="ok">ok</span><br/>
                Account <span>*</span> <br/>
                <input id="account" type="text" placeholder="4~12 alphabets or numbers" required pattern="[0-9a-zA-Z]{4,12}" />
                    <span class="ok">ok</span><br/>
                Password <span>*</span> <br/>
                <input id="password" type="password" placeholder="8~16 alphabets or numbers" required pattern="[0-9a-zA-Z]{8,16}"/>
                    <span class="ok">ok</span><br/>
                <!-- Email address <span>*</span> <br/>
                <input id="email" type="email" required />
                    <span class="ok">ok</span><br/> -->
                
                    <br/><br/>
                    <input id="nx1" type="submit" value="Next" />
                    <!-- <button id="nx1">Next</button> -->
            </div>
        <!-- </div> -->
        </form>
    </main>
</body>
</html