ul{
    height: 100%;
    font-size: 25px;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4c95cc;
}
  
li{
    float: left;
}
  
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover{
    -webkit-transition-duration: 0.5s; /* Safari */
    transition-duration: 0.5s;
    background-color: #4967b2;
}
.nav{
    margin: 0;
    box-sizing: border-box;
    position: sticky;
    top: 0;
}
.nav_signin{
    float: right;
}
.nav_signup{
    float: right;
}