body{
    background-image: url(/images/loan.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin: 0;
    height: 100%;
}
.main{
    min-width: 600px;
    border-radius: 10px;
    box-sizing: border-box;
    margin: 10% 30%;
    /*background-color: aliceblue;*/
}
.titles_tile{
    text-align: center;
    font-size: 45px;
    margin: 0, 0, 10%;
}
.titles_subtitle {
    position: relative;
    font-size: 30px;
    left: 15%;
    margin:0, 0, 10%;
}


#checkInput {
    height: 40px;
    width: 300px;
    position: relative;
    top: 15%;
    left: 25%;
    font-weight: bold;
}
.effect{
    /* inifinite : 動畫持續而不中斷 */
    animation: blink 1s infinite;
}

/* 定義動畫 blink動畫 */
@keyframes blink{
    0%{opacity: 0;}
    /* 50%{opacity: 1;} */
    100%{opacity: 1;}
}

#form1{
    line-height: 2em;
    width: 300px;
    /* margin: 0px auto;  */
    position: relative;
    top: 25%;
    left: 25%;
}
#form1>span{
    color: red;
}
#form1>input{
    width: 200px;
    padding: 5px 20px;
    border: 2px solid #888888;
    border-radius: 5px;
    margin: 10px;
}

#form1>.ok{
    color: green;
}
#form1>input:valid+.ok{
    display: inline;
}
#form1>input:invalid+.ok{
    display: none;
}


/* button next 1 */
#form1>#reason, #form1>#loan_type{
    font-size: 14px;
    height: 30px;
    width: 240px;
    position: relative;
    left: 3%;
}


/* button on page2 */
#form1>#send{
    width: 75px;
    position: relative;
    /* width: 600px;
    height: 400px;
    left: 25%;  */
    /* border: 1px solid #888888; */
}